h1{
    border: 1px solid red;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 10px;
}
p{
    border: 1px solid green;
    margin-left: 25px;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 15px;
    height: 42px;
    width: 100px;
}
.dos{
    width: 100px;
    height: 80px;
}
.tres{
    width: 32px;
}
.cuatro{
    width: 500px;
    height: 1000px;
}