body{
    background-color: slateblue;
}
.uno{
    color: aquamarine;
}
.dos{
    color: plum;
}
.tres{
    color: white;
}
.SQ{
    width: 300px;
}
.Servant{
    width: 800px;
}
.SCA{
    width: 500px;
}